@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>Allotmenters</title>

    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
    <link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="style.css">
    <link href="~/Content/Site.css" rel="stylesheet" />


</head>
<body>


     

    <div class="site-content">
        <main class="main-content">




            <div class="hero1">
                <center> <img style="background-repeat: no-repeat;" , width="2200" src="~/images/slider7.jpg" /> </center>
                <div class="hero-text1">
                    <h1 style="font-size: 60px; background-color: rgba(89, 228, 173, 0.58); padding: 10px;">Allotmenteers</h1>
                    <p  style="font-size: 20px; font-family:'Lucida Calligraphy'">A Door To Your Tomorrows</p>
                    <br><br><br>  <br><br><br>  <br><br><br>  <br><br><br>
                    <button class="Message" style="vertical-align: middle;  text-align: center"><span> @Html.ActionLink("Products", "Items", "Products", null, null)</span></button>
                </div>
            </div>






            <div class="fullwidth-block">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="feature">
                                <img src="~/images/icon-research-small.png" alt="" class="feature-image">
                                <h2 class="feature-title">Research</h2>
                                <p>We Research to keep human safe from desease from different ways.</p>
                                <a href="" class="button">Learn more</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="feature">
                                <img src="~/images/icon-medicine-small.png" alt="" class="feature-image">
                                <h2 class="feature-title">Medicice</h2>
                                <p>Not every disease is hard to defuse by machine, we also defeat them by pills.</p>
                                <a href="" class="button">Learn more</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="feature">
                                <img src="~/images/icon-genetics-small.png" alt="" class="feature-image">
                                <h2 class="feature-title">Reserve</h2>
                                <p>Our products are not only for us, reserve one also to defeate your deasese.</p>
                                <a href="" class="button">Learn more</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="feature">
                                <img src="~/images/icon-energy-small.png" alt="" class="feature-image">
                                <h2 class="feature-title">Produce</h2>
                                <p>we produce the complexist machines to enlighten your future from deseases.</p>
                                <a href="" class="button">Learn more</a>
                            </div>
                        </div>
                    </div> <!-- .row -->
                </div> <!-- .container -->
            </div>

            <div class="fullwidth-block" data-bg-color="#edf2f4">
                <div class="container">
                    <h2 class="section-title">Latest News</h2>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post">
                                <figure class="featured-image"><img src="~/images/lab1.jpg" alt=""></figure>
                                <h2 class="entry-title"><a href="">Allotmenters Production did it</a></h2>
                                <small class="date">2 oct 2021</small>
                                <p>After years of researches allotmenteers made a machine that...</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="post">
                                <figure class="featured-image"><img src="~/images/lab2.jpg" alt=""></figure>
                                <h2 class="entry-title"><a href="">This team is insan "-New York times</a></h2>
                                <small class="date">2 oct 2014</small>
                                <p>A company called allotmenters find the killer machine for covid19...</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="post">
                                <figure class="featured-image"><img src="~/images/lab3.jpg" alt=""></figure>
                                <h2 class="entry-title"><a href="">Bright tomorrow</a></h2>
                                <small class="date">2 oct 2014</small>
                                <p>Now everyone is safe by the lastest discovery of allotmenteers...</p>
                            </div>
                        </div>
                    </div> <!-- .row -->
                </div> <!-- .container -->
            </div> 

            <div class="fullwidth-block">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <h2 class="section-title">Our mission and vision</h2>
                            <p>Our mission is to create a world that Medical equipments can defuse any type of disablity. So far we are one of the best leaders of this section with our 52,000 employees, 10,000 doctor, 20,100 employees and 100 branches. Allotmenters is a non profit sector that has been created by Nasibullah Qarizada And Hasibullah Samadi at their tweenties, which is a brand mark now.</p>
                            <p>No one can estimate how technology affected to our life, and one of the branches that affected a lot by technology is medical equipment section. Nowadays by the help of apple lightining cable we can damage to any cancer cell, Disability of ear and a lot else. So never give up and please finish this project tonight.wish you good time. Best of luck for you teammeates.</p>
                        </div>
                        <div class="col-md-4">
                            <h2 class="section-title">Research summaries</h2>
                            <ul class="arrow-list has-border">
                                <li><a href="#">We belieave that tomorrow will be a shiny day</a></li>
                                <li><a href="#">Dont think about tomorrow all the time, please!</a></li>
                                <li><a href="#">Now is the only real moment, so enjoy it!</a></li>
                                <li><a href="#">Learn from your past,Be ready for your tomorrow</a></li>
                            </ul>
                            <a href="#" class="button">Show more</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hero1">
                <center> <img style="background-repeat: no-repeat;" , width="2200" src="~/images/slider9.jpg" /> </center>
                <div class="hero-text1">
                    <div class="container">
                        <h2 class="cta-title">We Are The Door To Your Tomorrow</h2>
                        <p style="font-size: larger">As the largest​ healthcare system in World and one of the largest in the United States, Allotmenteers was born from the 1899 combination of Baylor
                           Health Care and Allotmenteers Healthcare. Today we reach 52 hospitals, more than 800 patient care sites, more than 7,300 active physicians, over 49,000 employees
                           and the Scott Plan. Our goal is to develop, share and produce medical equipments to create a good life for humanbeing.</p>
                        <li class="User" style="vertical-align: middle;  text-align: center"> @Html.ActionLink("Details", "About", "Home")</li>
                    </div>
                </div>
            </div>



            <div class="fullwidth-block" data-bg-color="#edf2f4">
                <div class="container">
                    <div class="subscribe-form">
                        <h2>Join our newsletter</h2>
                        <form action="#">
                            <input type="text" placeholder="Enter your email">
                            <input type="submit" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>

        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="widget">
                            <h3 class="widget-title">Our address</h3>
                            <strong>Allotmenteers INC</strong>
                            <address>2. Avenue Street, Beylikduzu, Gunes A90012</address>
                            <a href="tel:90 538 500 4771">+90 537 354 4030</a> <br>
                            <a href="mailto:office@allotmenteers.com">office@allotmenteers.com</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget">
                            <h3 class="widget-title">Press room</h3>
                            <ul class="arrow-list">
                                <li><a href="#">Customer Care</a></li>
                                <li><a href="#">Privacy and Policy</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Job Applicants</a></li>
                                <li><a href="#">Product Producing Procedure</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget">
                            <h3 class="widget-title">Research summary</h3>
                            <ul class="arrow-list">
                                <li><a href="#">CT Scan procedure</a></li>
                                <li><a href="#">Covid-19 Defuser machine</a></li>
                                <li><a href="#">Chest press</a></li>
                                <li><a href="#">Today is a good day</a></li>
                                <li><a href="#">Ear repairer</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget">
                            <h3 class="widget-title">Social media</h3>
                            <p>Why we should'nt be closer!? Follow us On Social Media.</p>
                            <div class="social-links">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div> <!-- .row -->

                <p class="colophon">copyright 1899 Allotmenteers. Designed by <a href="http://www.iku.com/" title="Designed by iku.com" target="_blank">iku.com</a>. All rights reserved</p>
            </div> <!-- .container -->
        </footer>


        <script src="~/Scripts/jquery-1.11.1.min.js"></script>
        <script src="~/Scripts/plugins.js"></script>
        <script src="~/Scripts/app.js"></script>
    </div>

</body>

</html>